.container {
  height: 100vh;
  width: 100vw;
  display: flex;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0.1rem;
  background-color: #333;
  color: #fff;
}

.header > * {
  margin: 0 0.5rem;
}

.grid {
  display: grid;
  justify-content: center;
}

.row {
  display: flex;
}

.cell {
  border: 1px solid #fafafa;
  cursor: pointer;
}

.cell:hover {
  background-color: #f1f1f1;
}

.cell.empty {
  background-color: #fff;
  animation: bounding 0.2s ease-in-out;
}

.cell.start {
  background-color: #0e49b5;
}

.cell.end {
  background-color: #c70039;
}

.cell.wall {
  background-color: #3b5360;
  animation: bounding 0.2s ease-in-out;
}

.cell.explored {
  background-color: #b9eddd;
  animation: explored 0.8s ease-in;
}

.cell.path {
  background-color: #38e54d;
  animation: path 2s ease-out;
}

@keyframes explored {
  0% {
    scale: 1;
    background-color: #b9eddd;
  }
  30% {
    scale: 0;
    border-radius: 50%;
    background-color: #87cbb9;
  }
  100% {
    scale: 1;
    border-radius: 0;
    background-color: #b7d3df;
  }
}

@keyframes path {
  0% {
    border-radius: 50%;
    scale: 0.2;
    background-color: #38e54d;
  }
  80% {
    scale: 1.3;
    background-color: #bce29e;
  }
  100% {
    scale: 1;
    background-color: #38e54d;
  }
}

@keyframes bounding {
  0% {
    opacity: 0;
    transform: scale(0.2);
  }
  60% {
    opacity: 1;
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
