.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: space-between;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  padding: 0.1rem;
  background-color: #333;
  color: #fff;
}

.header > * {
  margin: 0 0.5rem;
}

.grid {
  display: grid;
}

.row {
  display: flex;
}

.cell {
  background-color: #fff;
  border: 1px solid #ccc;
  cursor: pointer;
  transition: background-color 0.2s;
}

.cell:hover {
  background-color: #f1f1f1;
}

.cell.start {
  background-color: #00f;
}

.cell.end {
  background-color: #f00;
}

.cell.wall {
  background-color: #333;
}
