#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #333;
}

.board {
  position: relative;
  perspective: 500px; /* Adjust perspective as needed */
  width: 300px; /* Adjust board size as needed */
  height: 300px; /* Adjust board size as needed */
}

.node {
  width: 20px; /* Adjust node size as needed */
  height: 20px; /* Adjust node size as needed */
  background-color: #3498db;
  position: absolute;
  border: 1px solid #2980b9;
}
