@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: linear-gradient(
    to bottom,
    #fcdab7,
    #1e5f74,
    #133b5c,
    #1d2d50
  );
  background-repeat: no-repeat;
  background-attachment: fixed;
}

select {
  border-radius: 8px;
  border: 1px solid transparent;
  background-color: transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
select:hover {
  border-color: #646cff;
}
select:focus,
select:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
select:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

label {
  display: block;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  margin-bottom: 0.5em;
}

.blur-bg::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: white;
  opacity: 0.6;
  filter: blur(10em);
  z-index: -1;
}

.gradient-underline-animation {
  @apply bg-gradient-to-r from-rose-100 to-teal-100 bg-no-repeat bg-bottom bg-[length:100%_6px] hover:bg-[length:100%_100%] transition-[background-size] duration-300 ease-in-out hover:text-white;
}
