@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: linear-gradient(to top, #fcdab7, #1e5f74, #133b5c, #1d2d50);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

label {
  display: block;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  margin-bottom: 0.5em;
}

.blur-bg::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: white;
  opacity: 0.5;
  filter: blur(10em);
  z-index: -1;
}

.tooltip {
  @apply invisible absolute bg-gray-800 text-white text-xs rounded px-2 py-1 transition-all duration-100 ease-in-out translate-y-2 -translate-x-1/2;
}

.tooltip-container:hover .tooltip {
  @apply visible z-10;
}

.ml-sidebar {
  margin-left: 14.58rem;
}
