.cell {
  border: 1px solid #fafafa;
  cursor: pointer;
}

.cell:hover {
  background-color: #f1f1f1;
}

.cell.start {
  background-color: #9ad0ec;
}

.cell.start.selected {
  opacity: 0.7;
}

.cell.end {
  background-color: #f05454;
}

.cell.end.selected {
  opacity: 0.7;
}

.cell.empty {
  background-color: transparent;
}

.cell.wall {
  background-color: #1b2430;
  opacity: 0.8;
}

.cell.bounding {
  animation: bounding 0.4s ease-in-out;
}

.cell.explored {
  background-color: #b9eddd;
}

.cell.exploring {
  animation: explored 0.8s ease-in-out;
}

.cell.path {
  background-color: #e3bec6;
}

.cell.pathing {
  animation: path 2s ease-out;
}

@keyframes explored {
  0% {
    transform: scale(1);
    background-color: #b9eddd;
  }
  30% {
    transform: scale(0);
    border-radius: 50%;
    background-color: #87cbb9;
  }
  100% {
    transform: scale(1);
    border-radius: 0;
    background-color: #b7d3df;
  }
}

@keyframes path {
  0% {
    border-radius: 50%;
    transform: scale(0.2);
    background-color: #e3bec6;
  }
  80% {
    transform: scale(1.3);
    background-color: #bce29e;
  }
  100% {
    transform: scale(1);
    background-color: #e3bec6;
  }
}

@keyframes bounding {
  0% {
    border-radius: 50%;
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
